.about {
    width: 80%;

    &__text {
        font-size: 24px;
        margin-left: 20px;
    }

    &__git {
        margin-left: 20px;
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 24px;
        flex-wrap: wrap;

        &-img {
            padding-left: 30px;
            padding-right: 30px;
            width: 35px;
            height: 35px;
        }
    }
}
